%div.footer
  %span= "✍(◔◡◔) RoR app v1.01"

  %ul
    %li= link_to 'Index', main_index_path
    %li= link_to 'Contacts', main_contacts_path
    %li= link_to 'Help', main_help_path
    %li= link_to 'About', main_about_path
