.image{:onload => "addEvent"}
  .image__header.image-header
    #image-header__select-theme
      = render 'work/button_theme_select', locale: @current_locale
    .image-header__title
      #{@selected_theme}


  .image__content.image-content
    .image-content__metadata
      .image-content__image-name
        #{@selected_image_name}

    .image-content__image
      - if signed_in?
        .image-content__rating
      - else
        .image-content__sign-in
          %button.nav-header__link-btn=link_to t('sessions.new.sign_in'), signin_path
      .image-content__avg
        %span.image-content__avg-title= t('shared.avg')
        %span.image-content__avg-value
          &nbsp;
          %b
            \~
      .image-content__next-btn#left
        ◀
      %img{:alt => "Default Image",
                 :src => "./assets/pictures/#{@selected_image_name}",
                 :title => "Default image",
            }
      .image-content__next-btn#right
        ▶